body {  font-family:'Arial';
        font-size:9pt; 
        font-style:normal;
        margin: 0;padding: 0;
        color: black;background-color: white;  
        
}
           /* Input */
h2 {font-size: 200%;color: #5B5B5B;text-align: center;}
b {color: #5B5B5B;border:none; }
img { border:none }
p { margin-top:16px;
    margin-bottom:12px;
    margin-left:0px;
    margin-right:0px;
    -qt-block-indent:0;
    text-indent:0px;
    font-size:normal;
    font-weight:600;
}

#icon {
	margin-right: 40px;
	top:-40px;
	position: relative;	
	float: right;
	}

#section {
	font-size:large;
	color: #858585;
	text-decoration:none;
		}

a {text-decoration:none;
   border-bottom: 1px dotted black;		
   color:#858585;
  }						 											
a:hover, a:hover b {color:#6C6CFF;}

#donate {
	text-decoration:none;
	border:none;	
	}

